/* Fondo general con verde mate */
body {
  margin: 0;
  padding: 0;
  background-color: #dfe9d3; /* Verde mate */
  font-family: 'Segoe UI', sans-serif;
}

/* Contenedor principal */
.App {
  text-align: center;
  padding: 2rem;
}

/* Título principal */
.App h1 {
  font-size: 2rem;
  color: #2b3c2f; /* Verde más oscuro para contraste */
  margin-bottom: 0.5rem;
}

/* Subtítulo */
.App p {
  font-size: 1.2rem;
  color: #4f5b47;
  margin-bottom: 2rem;
}
.hero {
  background-color: #dfe9d3;
  text-align: center;
  padding: 3rem 1rem;
  margin-bottom: 2rem;
}

.hero-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.hero-title {
  font-size: 3rem; /* grande */
  font-weight: bold;
  color: #2b3c2f;
  margin-bottom: 0.5rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: #4f5b47;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}
/* Animación Fade In */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInAnimation 1s ease forwards;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
